# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/

# Environment variables
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/

# Vite
frontend/.vite/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db